body {
    font: 13px "Lucida Grande",Lucida,Arial,sans-serif
}

li {
    list-style-type: none;
}

ol, ul {
    padding-left: 0;
}

#header {
    font-size: 36px;
    min-height: 1.5em;
    vertical-align:top;
}

#header span.symbol {
    font-family: Arial;
}

.inline {
    display:inline-block;
    vertical-align:top;
}


#user-details {
    min-height: 100px;
}

#user-details img {
    width: 85px;
    height: 85px;
}

#user-details-header p {
    margin: 0.2em;
    font-size: 16px;
}

#user-details-header span.username {
    font-size: 35px;
}

#user-recommenders li {
    font-size: 10px;
    text-align: center;
    margin: 0 1em 2em 1em;
    height: 119px;
    width: 100px;
    overflow: visible;
}

#user-recommenders p {
    margin: 0.1em 0;
}

#user-tracklist-items img {
    width: 33px;
    height: 33px;
}

#user-tracklist-items p {
    margin: 0px;
}

#user-tracklist-items p.secondary {
    font-size: 12px;;
}

#user-tracklist-items span.title {
    font-size: 16px;
    font-weight: bold;
}

#user-tracklist-tabs span {
    margin: 0.25em;
    padding: 0.25em 0.5em 0.25em 0.5em;
}

#user-tracklist-tabs span.selected {
    background-color: #eee;
} 